modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Start Frontend"

[[workflows.workflow]]
name = "Start Frontend"
author = 38984205
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"

[[ports]]
localPort = 3000
externalPort = 80
